{
    "passPerPreset": true,
    "presets": [
      "@babel/preset-env"
    ],
    "plugins": [
      ["module-resolver", {
        "root": ["./src"],
        "extensions": [".js", ".json"],
        "cwd": "babelrc",
        "alias": {
          "controllers": "./src/controllers",
          "models": "./models",
          "utils": "./src/utils",
          "middlewares": "./src/middlewares",
        }
      }]
    ],
  }
